:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #fff;
  --white-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  letter-spacing: 0.03em;
}

/* логотип */

.logo {
  letter-spacing: 0.03em;
}

.logo-head {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-foot {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

.logo:hover {
  color: var(--accent-color);
}
/* Навигація сайту */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

/* .site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
} */

.site-nav.link.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus,
.studio:hover,
.portfolio:hover,
.portfolio:focus,
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* конпки контакти */
.contacts-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-text:focus,
.contacts-text:hover {
  color: var(--accent-color);
}

/* футер */
.page-footer {
  background-color: #2f303a;
  color: var(--primary-white-color);
}

.copyrigyt {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.social > .label {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.015em;

  color: var(--primary-white-color);
}

.page-footer h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.015em;
  color: var(--primary-white-color);
}

.page-footer .list {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.015em;
  color: var(--primary-white-color);
}

.button.secondary {
  text-decoration-line: none;
  color: var(--primary-white-color);
}

.page-header {
  background-color: var(--primary-white-color);
}
