h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* .button:focus {
  color: var(--accent-text-color);
} */

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
}
.list {
  list-style: none;
}
